@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Dancing+Script:wght@400;700&family=Inter:wght@300;400&family=Italiana&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 1rem !important;
  /* width: 286px !important; */
  padding: 20px 14px !important;
}

/* label tên người dùng và mật khẩu */


/* Nút đăng nhập */
.css-1engchi-MuiButtonBase-root-MuiButton-root {
  background-color: #FFC6AC !important;
  box-shadow: none !important;
  width: 120px;
  align-self: center;
  text-transform: none !important;
  color: #000 !important;
  border-radius: 24px !important;

}

/* Nút đăng nhập khi hover */
.css-1engchi-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #FEEFE8 !important;
}

.css-1vuj8we-MuiStack-root>:not(style)~:not(style) {
  font-family: 'Be Vietnam Pro';
  font-size: 12px;
  font-weight: bold;
  color: #5D579A;

}


.errorMsgLogin {
  color: #cc0000;
  margin-top: 1px !important;
  font-size: 8px;
  font-family: Be Vietnam Pro;
  padding-right: 280px !important;
}