@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Dancing+Script:wght@400;700&family=Inter:wght@300;400&family=Italiana&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none !important;
}

/* Chỉnh kích thước của textfield */
/* .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    border-radius: 24px !important;
  } */
/*   
  .css-1r3l2sf-MuiStack-root{
    margin-right: 32vh;
  
    margin-left: 32vh !important;
  }
   */
/* textField username and password */
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: #EFC2C2 !important;
  border-radius: 24px !important;
  height: 1rem !important;
  /* width: 286px !important; */
  padding: 20px 14px !important;
}

.css-ihj99v-MuiStack-root {
  width: 100% !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 60%;
  margin-right: 10% !important;

}

/* Chỉnh font khi nhập text */
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #000 !important;
  border: none;
  margin-top: 10px;
  margin-left: 10px;
}

/* Chỉnh màu khi nhập text */
/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: #e8f0fe !important;
} */


.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none;
}

/* label tên người dùng và mật khẩu */
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #000 !important;
  font-size: "Inter";
}

/* Nút đăng nhập */
.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #FFC6AC !important;
  box-shadow: none !important;
  width: 120px;
  align-self: center;
  text-transform: none !important;
  color: #000 !important;
  border-radius: 24px !important;
  margin-right: 14% !important;

}

/* Nút đăng nhập khi hover */
.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #FEEFE8 !important;
}

.css-1vuj8we-MuiStack-root>:not(style)~:not(style) {
  font-family: 'Be Vietnam Pro';
  font-size: 12px;
  font-weight: bold;

}

.css-1vuj8we-MuiStack-root {
  margin-right: 20% !important;
}